<!doctype html>
<title>{% block title %}{% endblock %}</title>
<script type="application/json" id="context-data">{% block context %}{% endblock %}</script>
{% load static %}
<link rel="stylesheet" href="{% static 'gantt/css/res/bootstrap.min.css' %}" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'gantt/css/res/fontawesome/css/fontawesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'gantt/css/res/fontawesome/css/brands.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'gantt/css/res/fontawesome/css/solid.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'gantt/css/base.css' %}">
<script src="{% static 'gantt/js/res/jquery-3.7.1.min.js' %}" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'gantt/js/res/popper.min.js' %}" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="{% static 'gantt/js/res/bootstrap.min.js' %}" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="{% static 'gantt/js/res/interact.min.js' %}"></script>
{% block styles %}{% endblock %}
<meta name="viewport" content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'>
<section class="viewport-container">
  {% block content %}{% endblock %}
</section>
